<form id="login_form" action="login" style="display:none;" box_width="230">
	<input type="hidden" name="get_action" value="login">
	<input type="hidden" name="login_seed" id="login_seed" value="">
	<a style="float:right;" href="javascript: app.actionBar.fireAction('switch_language');" title="<%= t("Language") %>" alt="<%= t("Language") %>"><img src="<%= settings.ui.theme.path %>/image/action/16/flag.png" border="0" height="16" width="16"></a>
	<div class="dialogLegend" style="margin-bottom: 3px;margin-top: 4px;"><%= t("Enter login/password") %></div>
	<div style="width:100%">
		<div class="SF_element">
			<div class="SF_label"><%= t("Login") %></div>
			<div class="SF_input"><input type="text" name="userid" style="width: 100px; padding:0px;" class="dialogFocus"></div>
		</div>
		<div class="SF_element">
			<div class="SF_label"><%= t("Password") %></div>
			<div class="SF_input"><input type="password" name="password"  style="width: 100px; padding:0px;"></div>
		</div>
		<div class="SF_element">
			<input type="checkbox" class="radio" name="remember_me" style="border: none; width:20px !important;"/><%= t("Remember Me") %>
		</div>
	</div>
</form>
